body {
    background-image: url("5739209.jpg");
    
}
#drop-zone {
    width: 30%;
    padding: 15%;
    position: relative; 
  top: 50px;          
  left: 300px;
    text-align: center;
    font-size: 1.2em;
  }
  .transzone {
    margin: 30px;
  background-color: #ffffff;
  border: 1px groove;
  border-radius: 50px;
  opacity: 0.6;
  }
  
   p {
    text-align: center;
    font-family: 'Fasthand';
    font-size: 1.9rem;
    color: rgb(124, 114, 98);
  }
p:hover {
    color: rgb(150, 65, 150);
}
input {
    text-align: center;
    font-family: 'Fasthand';
    margin-left: 25%;
    font-size: 0.9rem;
    color: rgb(124, 114, 98);
}
input:hover {
    color: rgb(150, 65, 150);
}
  
  #drop-zone.highlight {
    background-color: #e6f7ff;
  }
 
